 body
{
	font-family: 'myndraine_regular', Arial, serif;
}

#upgradeBox{
    margin: 5px;
    padding: 0;
    position: absolute;
    left: 1000px;
    font-size: 1em;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  display: none;
}
